@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&family=Open+Sans:ital,wght@0,300..800;1,300..800');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_main{
    display: flex;
    width: 100%;
}

:root {
    --cor-clara: #0C65C8;
    --cor-escura: #0A4D9A;
}

.section_principal {
    background: linear-gradient(160deg, var(--cor-clara) 0%, var(--cor-escura) 100%);
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_logo{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.div_logo img{
    width: 200px;
    height: 200px;
}

.section_segundaria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_segundaria h2{
    margin-top: 30px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

.section_segundaria span{
    margin-top: 30px;
    color: white;
    font-family: "", sans-serif;
}

.card-button {
  background-color: white;
  color: black;
  margin-top: 30px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s;
}

.card-button:hover {
  border-color: blue;
}

.section_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    flex: 1;                
}
.section_form h2 {
    margin-bottom: 10px;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

.section_form span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}

.div_form_campos {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 450px; 
    align-items: center;
}

.card-button_form {
    background-color: #0A4D9A;
    border: 2px solid black;
    padding: 10px;
    font-size: 1rem;
    color: white; 
    cursor: pointer;
}

.forget-password {
    align-self: flex-end; 
    margin-bottom: 20px;
    padding-right:20px ;
    font-size: 0.9rem;
}


.forget-password:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section_logins {
    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #555;
    margin-top: 30px;
    gap: 15px; 
}

.section_logins hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #CCC;
}
.section_logins span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.button_google{
    margin-top: 20px;
}

.span-copywrite{
    position: absolute;
    bottom: 0;
    margin: 0 !important;
    top: 95%;
    font-size: 0.8rem;
}

/* Mobile pequeno (até 480px) */
@media (max-width: 480px) {

/* Mobile pequeno (até 480px) */
@media (max-width: 480px) {

    body,
    html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .section_principal {
        display: none;
    }

    .section_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
    }

    .section_form h2 {
        margin-bottom: 10px;
        color: black;
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
    }

    .input-body{
        width: 95%;
    }

    .input_icon{
        width: 80%;
    }

    .card-button_form{
        width: 95%;
    }

    .button_google{
        width: 95%;
    }
}
}

/* Mobile médio (até 768px) */
@media (max-width: 768px) {

}

/* Tablets (até 1024px) */
@media (max-width: 1024px) {

}

/* Laptops pequenos (até 1280px) */
@media (max-width: 1280px) {

}

/* Desktops grandes (até 1440px) */
@media (max-width: 1440px) {

}

/* Monitores muito grandes (até 1920px) */
@media (max-width: 1920px) {
 
}
